@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --activity-bgcolor-even: #74b2e8;
    --activity-bgcolor-odd: #d7f3f0;
    --nav-color: linear-gradient(to right,#0a1607, #c0f4c2);
}

* {
    vertical-align: middle;
    font-family: 'VT323', monospace;
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.close {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 2.25rem;
    font-weight: bold;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.25rem 0.5rem;
    color: #FFFFFF;
    background-image: var(--nav-color);
    box-shadow: 0px 0px 2px black;
}

#logo {
    margin: 0;
    padding-left: 0.5rem;
}

#box {
    font-size: 2rem;
}

p,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.click {
    display: inline-block;
    width: 4rem;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}

.active {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    border-color: #000;
}

.nav-button {
    text-decoration: none;
}

.hide {
    display: none;
}

#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
    max-height: 100vh;
    text-align: center;
}

#heroes,
#enemies {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.25rem 0;
    overflow-y: hidden;
    justify-content: center;
}

#feed {
    height: 7rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    border: 1px solid black;
    background-color: aliceblue;
    font-weight: bold;
}

#feed::-webkit-scrollbar {
    width: 1rem;
}

#feed::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(68, 67, 78, 0.3);
}

#feed::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.activity {
    background-color: var(--activity-bgcolor-even);
    margin: 0;
}

.activity:nth-child(odd) {
    background-color: var(--activity-bgcolor-odd);
}

.close-bar {
    border: none;
    background-color: black;
    flex-grow: 1;
    opacity: 0.5;
}

@media (max-width: 1050px) {
    .nav-button {
        display: inline-flex;
    }

    #feed {
        width: 100vw;
    }

    #enemies, #heroes {
        justify-content: space-between;
    }

    .close-bar {
        display: block;
    }
}