@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --activity-bgcolor-even:#6c757d;
    --activity-bgcolor-odd: #708A88;
}

* {
    vertical-align: top;
    font-family: 'VT323', monospace;
    list-style-type: none;
}

body {
    min-height: 100vh;
}
.hide {
    display: none;
}

#feed {
    height: 10rem;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;

    border: 1px solid black;
    background-color: aliceblue;
    font-weight: bold;
}

#feed::-webkit-scrollbar {
    width: 1rem;
  }
   
#feed::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(68, 67, 78, 0.3);
}
   
#feed::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.activity {
    background-color: var(--activity-bgcolor-even);
    margin: 0;
}
.activity:nth-child(odd) {
    background-color: var(--activity-bgcolor-odd);
}

@media (max-width: 768px) {
    #upgrades {
        width: 75%;
    }

    #feed {
        width: 100%;
    }
}