@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    vertical-align: top;
    font-family: 'VT323', monospace;
    list-style-type: none;
}

body {
    min-height: 100vh;
}
.hide {
    display: none;
}

@media (max-width: 768px) {
    #upgrades {
        width: 75%;
    }
}