.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 25%;
    background-color: #ccc;
    padding: 1em;
    border-radius: 0 0 1em 1em;
}

.settings-title {
    margin: 0;
}

.settings > section {
    display: flex;
    margin: 0;
    padding: 0 0 0.5em;
}


.settings-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em;
}

.settings-close-button {
    padding: 0 1em;
    background-color: red;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.settings-close-button:hover {
    transform: scale(1.1);
}

.settings-music-button {
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}

.settings-music-button:first-child {
    margin-left: 0.5rem;
}

.settings-save, .settings-volume > p {
    display: flex;
    align-items: center;
}

.settings-save #saveMessage {
    margin-left: 0.5rem;
    color: forestgreen;
    font-weight: bold;
}

#volume {
    margin-left: 0.5rem;
}

.settings-music-button-active {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    border-color: #000;
}