<!-- Card with img -->
<section data-character-card="hero-lowercase-name" class="hide">
  <section class="card-body" data-character-card-body="hero-lowercase-name">
      <img class="hero-thumb" data-character-card-thumb="hero-lowercase-name"
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/df7539f3-f060-4fa9-b6ea-b450762fa004/daghxb1-2b2be3e7-21b8-4850-b408-b15da5a88839.png/v1/fill/w_1024,h_1259/pokemon_egg__standard_2k__by_maniraptavia_daghxb1-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI1OSIsInBhdGgiOiJcL2ZcL2RmNzUzOWYzLWYwNjAtNGZhOS1iNmVhLWI0NTA3NjJmYTAwNFwvZGFnaHhiMS0yYjJiZTNlNy0yMWI4LTQ4NTAtYjQwOC1iMTVkYTVhODg4MzkucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.qlRlwHUGFLJBJyFb93DgTcApEHMwni3HBlT9k_lEGCE"
          alt="hero-lowercase-name" />
      <h3 data-character-card-name="hero-lowercase-name">
          Hero
      </h3>
      <p>
          HP: <span data-character-card-hp="hero-lowercase-name">Atual</span>/<span data-character-card-total-hp="hero-lowercase-name">Total</span>
          <progress class="enemie-hp" data-character-card-hp-bar="hero-lowercase-name" max="100" value="100">100</progress>
      </p>
      <p>
          ATK: <span data-character-card-atk="hero-lowercase-name"></span>
      </p>
      <p>
          DEF: <span data-character-card-def="hero-lowercase-name"></span>
      </p>
      <button data-button-attack="hero-lowercase-name">Attack</button>
      <span class="card-respawn" data-character-card-respawn-timer="hero-lowercase-name">vivo</span>
  </section>

<!-- Card without img -->

<section data-character-card="hero-lowercase-name" class="hide">
  <section class="card-body" data-character-card-body="hero-lowercase-name">
      <h3 data-character-card-name="hero-lowercase-name">
          Hero
      </h3>
      <p>
          HP: <span data-character-card-hp="hero-lowercase-name">Atual</span>/<span data-character-card-total-hp="hero-lowercase-name">Total</span>
          <progress class="enemie-hp" data-character-card-hp-bar="hero-lowercase-name" max="100" value="100">100</progress>
      </p>
      <p>
          ATK: <span data-character-card-atk="hero-lowercase-name"></span>
      </p>
      <p>
          DEF: <span data-character-card-def="hero-lowercase-name"></span>
      </p>
      <button data-button-attack="hero-lowercase-name">Attack</button>
      <span class="card-respawn" data-character-card-respawn-timer="hero-lowercase-name">vivo</span>
  </section>